.trade-token-pair-select-modal {
  min-width: 750px;
}

.trade-token-pair-select-modal .loading-bar-container {
  width: 100%;
  min-height: 350px;
}

.trade-token-pair-select-modal .flex {
  display: flex;
  align-items: center;
}

.trade-token-pair-select-modal .search-bar {
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid #1e1e1e;
}

.trade-token-pair-select-modal .search-bar input {
  border: none;
}

.trade-token-pair-select-modal .token-pair-table {
  width: 100%;
}

.trade-token-pair-select-modal .token-pair-table .table-header {
  color: #6b6b6b;
  z-index: 1111;
  background: #121212;
  display: flex;
  text-align: left;
}

.trade-token-pair-select-modal .token-pair-table .table-header .pair-column {
  padding-left: 25px;
  width: 40%;
}

.trade-token-pair-select-modal .token-pair-table .table-header .networks-column {
  width: 19.5%;
}

.trade-token-pair-select-modal .token-pair-table .table-header .price-column {
  width: 13.5%;
}

.trade-token-pair-select-modal .token-pair-table .table-header .volume-column {
  width: 13.5%;
}

.trade-token-pair-select-modal .token-pair-table .table-header .change-column {
  width: 13.5%;
}

.trade-token-pair-select-modal .token-pair-table .table-body {
  height: 400px;
  overflow-y: auto;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row {
  border-radius: 15px;
  height: 55px;
  display: flex;
  align-items: center;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row:hover {
  cursor: pointer;
  background: rgba(44, 44, 44, 0.45);
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .pair-column {
  text-align: left;
  padding-left: 25px;
  width: 40%;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .pair-column img {
  width: 35px;
  height: 35px;
  margin-right: 6px;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .pair-column .pair-name {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0px 8px 0px 8px;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .pair-column .token-name {
  color: #6b6b6b;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .networks-column {
  text-align: left;
  width: 19.5%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .networks-column img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .networks-column img:not(:first-child) {
  margin-left: -4px;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .price-column {
  text-align: left;
  width: 13.5%;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .volume-column {
  text-align: left;
  width: 13.5%;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .change-column {
  text-align: left;
  width: 13.5%;
  display: flex;
  align-items: center;
}

.trade-token-pair-select-modal .token-pair-table .table-body .table-row .change-column .trending-icon {
  margin-left: 4px;
}

.trade-token-pair-select-modal .token-pair-table .table-body::-webkit-scrollbar {
  width: 2px;
  height: 100%;
}

@media only screen and (max-width: 600px),
only screen and (min-width: 601px) and (max-width: 960px) {
  .trade-token-pair-select-modal {
    min-width: 100%;
  }

  .trade-token-pair-select-modal .volume-column,
  .trade-token-pair-select-modal .change-column {
    display: none !important;
  }

  .trade-token-pair-select-modal .pair-column {
    width: 50% !important;
    padding-left: 4px !important;
  }

  .trade-token-pair-select-modal .pair-column img {
    width: 30px !important;
    height: 30px !important;
  }

  .trade-token-pair-select-modal .pair-column .pair-name {
    font-size: .9rem !important;
    padding: 0px 2px !important;
  }

  .trade-token-pair-select-modal .pair-column .token-name {
    font-size: .8rem !important;
    padding-left: 4px;
  }

  .trade-token-pair-select-modal .networks-column,
  .trade-token-pair-select-modal .price-column {
    width: 25% !important;
  }

  .trade-token-pair-select-modal .networks-column img,
  .trade-token-pair-select-modal .price-column img {
    width: 20px !important;
    height: 20px !important;
  }

  .trade-token-pair-select-modal .price-column {
    font-size: .85rem;
  }

  .trade-token-pair-select-modal .table-row {
    height: 45px !important;
  }

  .trade-token-pair-select-modal .table-body {
    height: 70vh !important;
  }
}